<div class="container">
    <section id="home">
        <app-introduction></app-introduction>
    </section>
    <section id="about">
        <app-about></app-about>
    </section>
    <section id="career">
        <app-career></app-career>
    </section>
    <!-- Hidden papers section
    <section id="papers">
        <app-papers></app-papers>
    </section>
    -->
    <section id="projects">
        <app-projects></app-projects>
    </section>
    <section id="coursework">
        <app-coursework></app-coursework>
    </section>
</div>

<footer class="contact-footer">
    <div class="footer-content">
        <span class="footer-text">Izhar Guevara-Moctezuma</span>
        <div class="footer-links">
            <a href="https://www.linkedin.com/in/egold018/" target="_blank" title="LinkedIn">
                <img src="assets/linkedin-icon.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/egold010?tab=repositories" target="_blank" title="GitHub">
                <img src="assets/github-icon.png" alt="GitHub">
            </a>
            <a href="mailto:evangoldman10@gmail.com" target="_blank" title="Email">
                <img src="assets/mail-icon.png" alt="Email">
            </a>
        </div>
    </div>
</footer>